<div class="alert alert-info" role="alert">
  Answer the questions below to get a customized list of benefits for which you may be eligible.
</div>
<div class="card card-default" id="card1">
  <div class="card-header">
    <h5 class="card-title">
      STEP {{activeIndex}}
    </h5>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Select your province or territory</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">What is your age?</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">What is your marital status?</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Do you consider your household income to be low? </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="next()" class="btn btn-primary pull-right" *ngIf="showNxtBtn">Next</button>
        <button type="button" (click)="previous()" class="btn btn-primary pull-right" style="margin-right:5px" *ngIf="showPrevBtn">Previous</button>
      </div>
    </div>
  </div>
</div>
<div class="card card-default" id="card2" hidden="true">
  <div class="card-header">
    <h5 class="card-title">
      STEP {{activeIndex}}
    </h5>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">	What is your employment situation? </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">What best describes your health situation?</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Do you have children?</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">In terms of education you are ? </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <!-- <button type="button" (click)="next()" class="btn btn-primary pull-right" *ngIf="showNxtBtn">Next</button> -->
        <button type="button" (click)="showBenefits()" class="btn btn-success pull-right" *ngIf="showSubmitBtn">Submit
            <i class="fa fa-send"></i>
          </button>
        <button type="button" (click)="previous()" class="btn btn-primary pull-right" style="margin-right:5px" *ngIf="showPrevBtn">Previous</button>
      </div>
    </div>
  </div>
</div>
<div class="card card-default" id="card3" hidden="true">
  <div class="card-header">
    <h5 class="card-title">STEP {{activeIndex}}</h5>
  </div>
  <div class="card-body"></div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="next()" class="btn btn-primary pull-right" *ngIf="showNxtBtn">Next</button>
        <button type="button" (click)="previous()" class="btn btn-primary pull-right" style="margin-right:5px" *ngIf="showPrevBtn">Previous</button>
      </div>
    </div>
  </div>
</div>
<div class="card card-default" id="card4" hidden="true">
  <div class="card-header">
    <h5 class="card-title">STEP {{activeIndex}}</h5>
  </div>
  <div class="card-body"></div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="next()" class="btn btn-primary pull-right" *ngIf="showNxtBtn">Next</button>
        <button type="button" (click)="previous()" class="btn btn-primary pull-right" style="margin-right:5px" *ngIf="showPrevBtn">Previous</button>
      </div>
    </div>
  </div>
</div>
<div class="card card-default" id="card5" hidden="true">
  <div class="card-header">
    <h5 class="card-title">STEP {{activeIndex}}</h5>
  </div>
  <div class="card-body"></div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="next()" class="btn btn-primary pull-right" *ngIf="showNxtBtn">Finish</button>
        <button type="button" (click)="previous()" class="btn btn-primary pull-right" style="margin-right:5px" *ngIf="showPrevBtn">Previous</button>
      </div>
    </div>
  </div>
</div>
