<div class="text-center">
  <h3>These are the benefits you qualify for <i class="fa fa-smile"></i></h3>
</div>
<div class="alert alert-info" role="alert">
  The Benefits Finder strives to list all government benefits and services. However, we cannot guarantee that our listings
  are 100% complete
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let benefit of serviceBenefits" style="margin-bottom: 1px;">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{benefit.name}} </h5>
        <p class="card-text" >{{benefit.desc}}</p>
        <a href="{{benefit.link}}" class="btn btn-primary">More Info <i class="fa fa-link"></i></a>
      </div>
    </div>
  </div>
</div>
